@tailwind base;
@tailwind components;
@tailwind utilities;

/* Setting Default Dark Mode */
body {
  @apply bg-slate-900 text-white transition-colors duration-300;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
.dark ::-webkit-scrollbar-thumb {
  background: #374151;
}